apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
      app: nginx
spec:
  replicas: 1
  selector:
     mathLabels:
	app: nginx
     template:
	metadata:
	   labels:	
	      app: nginx
	spec:
  	   containers:
    	      - name: nginx
      		image: nginx
 		resources:
	  	  limits:
	     		memory: "10Mi"
			cpu: "100m"
